<h2>ng container</h2>

<p>

< ng-container *ngIf="toggle; else toggleOff" >  else part expects ngtemplate reference variable which is defined using <br>
<strong>ng-template</strong> and <strong>#templateName</strong>. 
<br>
ng-container is used to wrap the else part of the condition and it will not add any extra div in the DOM.
</p>
<ng-container *ngIf="toggle; else toggleOff">
  <p>Toggle is true</p>
</ng-container>

<ng-template #toggleOff>
  <p>Toggle is false</p>
</ng-template>

<button (click)="changeToggle()">Toggle</button>

<hr>
<p>extra div is added using div</p>
<div *ngFor="let item of items">
  <ul>
    <li>{{item}}</li>
  </ul>
  
</div>
<hr>
<p>extra div is not added using ng-container</p>

<ng-container *ngFor="let item of items">
    <ul>
      <li>{{item}}</li>
    </ul>
  
</ng-container>

<hr>

<p style="font-weight: bold;">Diff div vs ngcontainer:</p>
<p>div is only used one structural directive</p>
<p>ngcontainer is used for multi structural directives means *ngif, *ngFor, etc. used in same element level</p>